.header {
  display: flex;
  justify-content: end;
  align-items: center;
  background: rgb(204, 204, 204);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user {
  margin: 17px 15px;
}

.login {
  margin: 5px 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form {
  width: 800px; /* Ширина формы */
  height: 430px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}