.header {
  display: flex;
  justify-content: end;
  align-items: center;
  background: rgb(204, 204, 204);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user {
  margin: 17px 75px;
  font-weight: 600;
}

.login {
  margin: 17px 100px;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form {
  width: 800px; /* Ширина формы */
  height: 430px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 15px 0;
  font-size: 40px;
  color: rgb(165, 163, 163);
  font-weight: 700;
}

.subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
  color: rgb(165, 163, 163);
  font-weight: 700;
}

.span {
  color: black;
  border-bottom: 2px solid black;
}